NissanConnectStatus.json
[{"id":"a61efc55.35bde","type":"subflow","name":"NissanConnect-Status","info":"This subflow sends http-requests to the\nNissanConnect-Service, and stores the results\nto the configure MQTT-Server. None of the requests initiates a \"real-life\"-connection to the car - it returns the last known data.\n\n### Inputs\nmsg.command - one of the following:\n - \"battery-status\"\n - \"hvac-status\"\n - \"location\"\n - \"trip-history\"\n\nmsg.conf - the config object\n\nmsg.session - the session object\n\n**Optional for \"trip-history\":**\n\nmsg.startDate - \"YYYY-MM-DD\"\n\nmsg.endDate - \"YYYY-MM-DD\"\n\nmsg.type:\n - 0 = daily\n - 1 = monthly\n - 2 = yearly\n\n### Outputs\n\nThe message object contains the http-request response.\n\n","category":"","in":[{"x":60,"y":300,"wires":[{"id":"e89bb9df.3e55"},{"id":"195a28b1.c9443f"},{"id":"ad52299f.3cb9e8"},{"id":"48faf653.094bd8"}]}],"out":[{"x":1060,"y":200,"wires":[{"id":"efdc5924.f13468","port":0},{"id":"b09285cd.7186","port":0},{"id":"3d1cd7dd.2ac9f","port":0},{"id":"4b7ff349.3ce45c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"db0ade39.f840d","type":"comment","z":"a61efc55.35bde","name":"Request last Battery Status","info":"","x":360,"y":140,"wires":[]},{"id":"e89bb9df.3e55","type":"function","z":"a61efc55.35bde","name":"","func":"if (msg.command != \"battery-status\") {\n    return null;\n}\nvar session = msg.session;\nflow.set('session', session);\nvar conf = msg.conf;\nvar vin = session.vehicle.vin;\nmsg = {\n    'method' : 'GET',\n    'url' : conf.car_adapter_base_url + 'v1/cars/' + vin + '/battery-status',\n    'headers' : {\n      'Authorization' : 'Bearer ' + session.bearerToken\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":180,"wires":[["907dd3e6.4c0f2"]]},{"id":"907dd3e6.4c0f2","type":"http request","z":"a61efc55.35bde","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":180,"wires":[["efdc5924.f13468"]]},{"id":"efdc5924.f13468","type":"function","z":"a61efc55.35bde","name":"","func":"var session = flow.get('session');\n\nvar car = msg.payload.data;\nvar attributes = car.attributes;\nvar mqttMessages = [];\nfor (var k in attributes) {\n var topic = 'leaf/' + car.id + '/batteryStatus/' + k;\n var payload = attributes[k];\n mqttMessages.push({topic: topic, payload: payload});\n}\nmsg = {};\nmsg.payload = mqttMessages;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":180,"wires":[["3437b001.5f0e8"]]},{"id":"807a9380.136638","type":"comment","z":"a61efc55.35bde","name":"Request last Climate State","info":"","x":350,"y":260,"wires":[]},{"id":"195a28b1.c9443f","type":"function","z":"a61efc55.35bde","name":"","func":"if (msg.command != \"hvac-status\") {\n    return null;\n}\nvar session = msg.session;\nflow.set('session', session);\nvar conf = msg.conf;\nvar vin = session.vehicle.vin;\nmsg = {\n    'method' : 'GET',\n    'url' : conf.car_adapter_base_url + 'v1/cars/' + vin + '/hvac-status',\n    'headers' : {\n      'Authorization' : 'Bearer ' + session.bearerToken\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":300,"wires":[["8f0bf08b.fc59"]]},{"id":"8f0bf08b.fc59","type":"http request","z":"a61efc55.35bde","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":300,"wires":[["b09285cd.7186"]]},{"id":"b09285cd.7186","type":"function","z":"a61efc55.35bde","name":"","func":"var session = flow.get('session');\n\nvar car = msg.payload.data;\nvar attributes = car.attributes;\nvar mqttMessages = [];\nfor (var k in attributes) {\n var topic = 'leaf/' + car.id + '/hVacStatus/' + k;\n var payload = attributes[k];\n mqttMessages.push({topic: topic, payload: payload});\n}\nmsg = {};\nmsg.payload = mqttMessages;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":300,"wires":[["3437b001.5f0e8"]]},{"id":"3437b001.5f0e8","type":"split","z":"a61efc55.35bde","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":300,"wires":[["9c9135b9.a63a"]]},{"id":"9c9135b9.a63a","type":"function","z":"a61efc55.35bde","name":"","func":"msg.topic = msg.payload.topic;\nmsg.payload = msg.payload.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":300,"wires":[["6865103a.a55f8"]]},{"id":"6865103a.a55f8","type":"mqtt out","z":"a61efc55.35bde","name":"","topic":"","qos":"","retain":"true","broker":"7d7cbdf0.729edc","x":1090,"y":300,"wires":[]},{"id":"f1254448.9573c8","type":"comment","z":"a61efc55.35bde","name":"Request last Location State","info":"","x":360,"y":380,"wires":[]},{"id":"ad52299f.3cb9e8","type":"function","z":"a61efc55.35bde","name":"","func":"if (msg.command != \"location\") {\n    return null;\n}\nvar session = msg.session;\nflow.set('session', session);\nvar conf = msg.conf;\nvar vin = session.vehicle.vin;\nmsg = {\n    'method' : 'GET',\n    'url' : conf.car_adapter_base_url + 'v1/cars/' + vin + '/location',\n    'headers' : {\n      'Authorization' : 'Bearer ' + session.bearerToken\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":420,"wires":[["3ff16fc1.b537b"]]},{"id":"3ff16fc1.b537b","type":"http request","z":"a61efc55.35bde","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":420,"wires":[["3d1cd7dd.2ac9f"]]},{"id":"3d1cd7dd.2ac9f","type":"function","z":"a61efc55.35bde","name":"","func":"var session = flow.get('session');\n\nvar car = msg.payload.data;\nvar attributes = car.attributes;\nvar mqttMessages = [];\nvar lat = 0;\nvar lon = 0;\nfor (var k in attributes) {\n var topic = 'leaf/' + car.id + '/location/' + k;\n var payload = attributes[k];\n //change name to longitude and latitude - required for geo-json\n if (k == \"gpsLongitude\") {\n     lon = attributes[k];\n }\n else if (k == \"gpsLatitude\") {\n     lat = attributes[k];\n } \n if (lat != 0 && lon != 0) {\n     topic = 'leaf/' + car.id + '/location/json';\n     payload = {'longitude': lon, 'latitude' : lat};\n }\n mqttMessages.push({topic: topic, payload: payload});\n}\nmsg = {};\nmsg.payload = mqttMessages;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":420,"wires":[["3437b001.5f0e8"]]},{"id":"812b5afc.599328","type":"comment","z":"a61efc55.35bde","name":"Trip-History","info":"","x":310,"y":480,"wires":[]},{"id":"48faf653.094bd8","type":"function","z":"a61efc55.35bde","name":"","func":"if (msg.command != \"trip-history\") {\n    return null;\n}\nvar session = msg.session;\nflow.set('session', session);\nvar conf = msg.conf;\nvar vin = session.vehicle.vin;\nvar startDate = msg.startDate;\nvar endDate = msg.endDate;\nvar type = msg.type; //0=daily, 1=monthly, 2=yearly\nflow.set('tripHistoryType', type);\nmsg = {\n    'method' : 'GET',\n    'url' : conf.car_adapter_base_url + 'v1/cars/' + vin + '/trip-history?start='+ startDate + '&end=' + endDate + '&type=' + type,\n    'headers' : {\n      'Authorization' : 'Bearer ' + session.bearerToken\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":520,"wires":[["39e3ecf2.e8569c"]]},{"id":"39e3ecf2.e8569c","type":"http request","z":"a61efc55.35bde","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":520,"wires":[["4b7ff349.3ce45c"]]},{"id":"4b7ff349.3ce45c","type":"function","z":"a61efc55.35bde","name":"","func":"var session = flow.get('session');\nvar type = flow.get('tripHistoryType');\nvar car = msg.payload.data;\nvar attributes = car.attributes;\nvar mqttMessages = [];\nfor (var k in attributes) {\n var topic = 'leaf/' + car.id + '/tripHistory/' + type + '/' + k;\n var payload = attributes[k];\n mqttMessages.push({topic: topic, payload: payload});\n}\nmsg = {};\nmsg.payload = mqttMessages;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":520,"wires":[["3437b001.5f0e8"]]},{"id":"7d7cbdf0.729edc","type":"mqtt-broker","name":"your Broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]