NissanConnectActions.json
[{"id":"bd5bde9e.6101c","type":"subflow","name":"NissanConnect-Actions","info":"This subflow sends http-requests to the\nNissanConnect-Service. All of the commands initiates a connection to the car -  NissanConnect sends an SMS-Message to the car, and waits for the response. Therefore it takes a while until the date is send back to the NissanConnect-Service.\n\n### Inputs\nmsg.command - one of the following:\n - \"refresh-battery-status\"\n - \"hvac-start\"\n - \"hvac-stop\"\n - \"refresh-hvac-status\"\n - \"trip-history\"\n - \"refresh-location\"\n - \"charging-start\"\n - \"charging-stop\"\n\nmsg.conf - the config object\n\nmsg.session - the session object\n\n### Outputs\n\nThe message object contains the http-request response. The response is delayed for 20 seconds.\n\n","category":"","in":[{"x":60,"y":260,"wires":[{"id":"210e9278.d8c336"},{"id":"6cd7a8f3.399618"},{"id":"61708792.2db17"},{"id":"7ef09b41.53d14c"},{"id":"5b7e3b7d.b24fe4"},{"id":"afc97e46.1251f"},{"id":"f4d89ac2.5ebc68"}]}],"out":[{"x":840,"y":240,"wires":[{"id":"c68ad8bf.26643","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"210e9278.d8c336","type":"function","z":"bd5bde9e.6101c","name":"","func":"if (msg.command != \"refresh-battery-status\") {\n    return null;\n}\nvar session = msg.session;\nvar conf = msg.conf;\nvar vin = session.vehicle.vin;\nmsg = {\n    'method' : 'POST',\n    'url' : conf.car_adapter_base_url + 'v1/cars/' + vin +'/actions/refresh-battery-status',\n    'headers' : {\n      'Content-Type': 'application/vnd.api+json',\n      'Authorization' : 'Bearer ' + session.bearerToken\n    }\n}\nmsg.payload = {\n    'data': {'type': 'RefreshBatteryStatus'}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":100,"wires":[["ca16de7a.fd8278"]]},{"id":"7419189e.74bb68","type":"comment","z":"bd5bde9e.6101c","name":"Request Battery Status from Car","info":"","x":330,"y":60,"wires":[]},{"id":"6cd7a8f3.399618","type":"function","z":"bd5bde9e.6101c","name":"","func":"if (msg.command != \"hvac-start\") {\n    return null;\n}\n\nfunction formatDateWithTimeZone(d) {\n    var strOffset = \"\";\n    var offsetHour = d.getTimezoneOffset() / 60;\n    var str = Math.abs(offsetHour).toString().padStart(2, 0);\n    if (offsetHour < 0) {\n      strOffset = \"+\" + str + \":00\";\n    }\n    else {\n      strOffset = \"-\" + str + \":00\";\n    }\n    \n    function pad(n){return n<10 ? '0'+n : n}\n    return d.getFullYear()+'-'\n    + pad(d.getMonth()+1)+'-'\n    + pad(d.getDate())+'T'\n    + pad(d.getHours())+':'\n    + pad(d.getMinutes())+':'\n    + pad(d.getSeconds()) + strOffset\n}\n\nvar session = msg.session;\nvar conf = msg.conf;\n\nvar startDate = new Date();\nstartDate.setSeconds( startDate.getSeconds() + 5 );\nstartDate = formatDateWithTimeZone(startDate);\n\nvar vin = session.vehicle.vin;\nmsg = {\n    'method' : 'POST',\n    'url' : conf.car_adapter_base_url + 'v1/cars/' + vin +'/actions/hvac-start',\n    'headers' : {\n      'Content-Type': 'application/vnd.api+json',\n      'Authorization' : 'Bearer ' + session.bearerToken\n    }\n}\nmsg.payload = {\n    'data': {\n        'type': 'HvacStart',\n        'attributes': {\n              'action': 'start',\n              'targetTemperature': 21,\n              'startDateTime': startDate\n              \n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":200,"wires":[["ca16de7a.fd8278"]]},{"id":"ca16de7a.fd8278","type":"http request","z":"bd5bde9e.6101c","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":240,"wires":[["c68ad8bf.26643","586b681f.17f0a"]]},{"id":"eb2727a9.3a52c8","type":"comment","z":"bd5bde9e.6101c","name":"Start Climate","info":"","x":270,"y":160,"wires":[]},{"id":"61708792.2db17","type":"function","z":"bd5bde9e.6101c","name":"","func":"if (msg.command != \"refresh-hvac-status\") {\n    return null;\n}\nvar session = msg.session;\nvar conf = msg.conf;\nvar vin = session.vehicle.vin;\nmsg = {\n    'method' : 'POST',\n    'url' : conf.car_adapter_base_url + 'v1/cars/' + vin +'/actions/refresh-hvac-status',\n    'headers' : {\n      'Content-Type': 'application/vnd.api+json',\n      'Authorization' : 'Bearer ' + session.bearerToken\n    }\n}\nmsg.payload = {\n    'data': {'type': 'RefreshHvacStatus'}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":380,"wires":[["ca16de7a.fd8278"]]},{"id":"bf923e4c.aaa118","type":"comment","z":"bd5bde9e.6101c","name":"Request Climate Status from Car","info":"","x":330,"y":340,"wires":[]},{"id":"7ef09b41.53d14c","type":"function","z":"bd5bde9e.6101c","name":"","func":"if (msg.command != \"refresh-location\") {\n    return null;\n}\nvar session = msg.session;\nvar conf = msg.conf;\nvar vin = session.vehicle.vin;\nmsg = {\n    'method' : 'POST',\n    'url' : conf.car_adapter_base_url + 'v1/cars/' + vin +'/actions/refresh-location',\n    'headers' : {\n      'Content-Type': 'application/vnd.api+json',\n      'Authorization' : 'Bearer ' + session.bearerToken\n    }\n}\nmsg.payload = {\n    'data': {'type': 'RefreshLocation'}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":480,"wires":[["ca16de7a.fd8278"]]},{"id":"882a78f6.cfe788","type":"comment","z":"bd5bde9e.6101c","name":"Request Location Status from Car","info":"","x":340,"y":440,"wires":[]},{"id":"c68ad8bf.26643","type":"delay","z":"bd5bde9e.6101c","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":240,"wires":[[]]},{"id":"5b7e3b7d.b24fe4","type":"function","z":"bd5bde9e.6101c","name":"","func":"if (msg.command != \"charging-start\") {\n    return null;\n}\nvar session = msg.session;\nvar conf = msg.conf;\nvar vin = session.vehicle.vin;\nmsg = {\n    'method' : 'POST',\n    'url' : conf.car_adapter_base_url + 'v1/cars/' + vin +'/actions/charging-start',\n    'headers' : {\n      'Content-Type': 'application/vnd.api+json',\n      'Authorization' : 'Bearer ' + session.bearerToken\n    }\n}\nmsg.payload = {\n    'data': {'type': 'ChargingStart', 'attributes': 'start'}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":580,"wires":[["ca16de7a.fd8278"]]},{"id":"3a9d19f6.f6354e","type":"comment","z":"bd5bde9e.6101c","name":"Request Charge Start","info":"","x":300,"y":540,"wires":[]},{"id":"a1af371.48f5d48","type":"comment","z":"bd5bde9e.6101c","name":"Request Charge Stop","info":"","x":300,"y":640,"wires":[]},{"id":"afc97e46.1251f","type":"function","z":"bd5bde9e.6101c","name":"","func":"if (msg.command != \"charging-stop\") {\n    return null;\n}\nvar session = msg.session;\nvar conf = msg.conf;\nvar vin = session.vehicle.vin;\nmsg = {\n    'method' : 'POST',\n    'url' : conf.car_adapter_base_url + 'v1/cars/' + vin +'/actions/charging-start',\n    'headers' : {\n      'Content-Type': 'application/vnd.api+json',\n      'Authorization' : 'Bearer ' + session.bearerToken\n    }\n}\nmsg.payload = {\n    'data': {'type': 'ChargingStart', 'attributes': 'stop'}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":680,"wires":[["ca16de7a.fd8278"]]},{"id":"f3ad400c.9b1478","type":"comment","z":"bd5bde9e.6101c","name":"Stop Climate","info":"","x":270,"y":240,"wires":[]},{"id":"f4d89ac2.5ebc68","type":"function","z":"bd5bde9e.6101c","name":"","func":"if (msg.command != \"hvac-stop\") {\n    return null;\n}\n\nfunction formatDateWithTimeZone(d) {\n    var strOffset = \"\";\n    var offsetHour = d.getTimezoneOffset() / 60;\n    var str = Math.abs(offsetHour).toString().padStart(2, 0);\n    if (offsetHour < 0) {\n      strOffset = \"+\" + str + \":00\";\n    }\n    else {\n      strOffset = \"-\" + str + \":00\";\n    }\n    \n    function pad(n){return n<10 ? '0'+n : n}\n    return d.getFullYear()+'-'\n    + pad(d.getMonth()+1)+'-'\n    + pad(d.getDate())+'T'\n    + pad(d.getHours())+':'\n    + pad(d.getMinutes())+':'\n    + pad(d.getSeconds()) + strOffset\n}\n\n\n\nvar session = msg.session;\nvar conf = msg.conf;\n\nvar startDate = new Date();\nstartDate.setSeconds( startDate.getSeconds() + 5 );\nstartDate = formatDateWithTimeZone(startDate);\n\nvar vin = session.vehicle.vin;\nmsg = {\n    'method' : 'POST',\n    'url' : conf.car_adapter_base_url + 'v1/cars/' + vin +'/actions/hvac-start',\n    'headers' : {\n      'Content-Type': 'application/vnd.api+json',\n      'Authorization' : 'Bearer ' + session.bearerToken\n    }\n}\nmsg.payload = {\n    'data': {\n        'type': 'HvacStart',\n        'attributes': {\n              'action': 'stop',\n              'targetTemperature': 21,\n              'startDateTime': startDate\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":280,"wires":[["ca16de7a.fd8278"]]},{"id":"586b681f.17f0a","type":"debug","z":"bd5bde9e.6101c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":300,"wires":[]}]
